.container{
    width: 50%;
    background-color: slateblue;
    color: darkseagreen;
}

h1{
    background-color: aqua;
}

h2{
    display: inline-block;
    background: linear-gradient(#a71e5e, #813878, #ffe4e1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}