        .fond {
            width: 500px;
            height: 300px;
            position: absolute;
            z-index: 2;
            background-color: rgb(149, 255, 0);
        }

        .avant {
            width: 400px;
            height: 300px;
            position: absolute;
            z-index: 1;
            background-color: red;
            padding-top: 80px;
            padding-left: 200px;
        }

        i {
            position: absolute;
            font-style: normal;
            font-weight: bold;
            color: rgb(194, 35, 173);
            z-index: 3;
            margin-top: 110px;
            margin-left: 190px;

        }