header {
    display: flex;
    background-color: #005dba;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.logo {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    
}

nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: flex-end;  
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #020024;
    background: linear-gradient(322deg, rgba(2, 0, 36, 1) 0%, rgba(9, 89, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-size: 2rem;
    padding: 50px;
}

.hero p {
    font-size: 1.5rem;
    margin:5% 30%;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
    margin: 10%;
}

.themes-grid {
    display: grid;
    gap: 20px;
    width: 100%;
    gap: 40px;
}

.theme-card1,
.theme-card2 {
 grid-row: 1;
 
}

.theme-card3,
.theme-card4 {
   grid-row: 2;
}

.theme-card1,
.theme-card2,
.theme-card3,
.theme-card4 {
    background-color: #e1f3f7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    object-fit: cover;
}

.themes-grid img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 20px;
}
.themes-grid img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f4;
    padding: 50px;
}

.about img {
    object-fit: cover;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-text {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}   

@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;

    }

    nav {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       
    }

    .themes-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .theme-card1 {
        grid-row: 1;
    }
    .theme-card2 {
        grid-row: 2;
    
    }

    .theme-card3 {
        grid-row: 3;
    }
    .theme-card4 {
        grid-row: 4;
}


    .hero p {
        font-size: 1.2rem;
        margin: 5% 10%;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}