img {
    margin: 10%;
    width: 20%;
    height: auto;
}

.img1:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.img2 {
    border-radius: 250px;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img3 {
    animation: slide 10s infinite linear;
    margin-left: 0%;
    width: 2000px;
    height: auto;
}

.img4 {
    animation: slide 10s infinite linear;
    margin-left: 0%;
    width: 2000px;
    height: auto;
}

.img3, .img4 {
margin: 0%;
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(50%); }
}

.img5 {
    margin: 50%;
    width: 200px;
    height: auto;
}

.img5:hover {
    animation: flip 5s infinite linear;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}

@keyframes flip {
    0% { transform: skew(0deg, 0deg); }
    10% { transform: skew(10deg, 10deg); }
    20% { transform: skew(20deg, 20deg); }
    30% { transform: skew(30deg, 30deg); }
    40% { transform: skew(40deg, 40deg); }
    50% { transform: skew(50deg, 50deg); }
    60% { transform: skew(60deg, 60deg); }
    70% { transform: skew(70deg, 70deg); }
    80% { transform: skew(80deg, 80deg); }
    90% { transform: skew(90deg, 90deg); }
    100% { transform: skew(100deg, 100deg); }   
   
}

.img6 {
    width: 200px;
    height: auto;
    animation: harryfly 5s infinite ;
}
 
@keyframes harryfly {
   from { margin-left: 0%; }
    50% { transform: rotate(1turn); }
    to { margin-left: 100%; }
   }